*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    background-color: #fff;
}
.unilogo{
    margin: 5px 0px 5px 5%;
}
.logo{
   
    width: 100px;
    padding: 10px;
    border-radius: 100px;
}
#uniname{
    margin: 5px 0px 5px 0px;
}
h1{
    text-align: center;
    padding-top: 18px;
}
nav{
    border-top:solid rgba(0, 0, 0, 0.333);
    background-color: #F1F1F1;
}

.bar ,.name, .item{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    color: black;
}
.name{
    color: #00d4ff;
}
.bar:hover , .item:hover{
    cursor: pointer;
    color: white;
    background-color:darkcyan;
}
.bar{
    display: none;
}

@media(max-width: 1100px)
{
    .item:not(:first-child){
        display:none;
    }
    .bar{
        display: inline;
        float: right;
    }
    .item.responsive{
        display: block;
        text-align: left;
    }
}
.banner-box{
    position: relative;
}
.banner{
    width:100%;
}
.banner-name{
    position: absolute;
    color:#F1F1F1;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
}
.container{
    border-top: solid black;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.container a{
    text-decoration: none;
}
.contain{
    margin-left: 1px;
    background-color:rgb(61, 179, 215);
    height: 150px;
    padding: 5px;
    align-items: center;
}
.icon{
    margin: auto;
    margin-top: 10px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icon i{
    margin: 10px;
    color: rgb(61, 179, 215);
    font-size: 30px;
}
.iconname{
    color: white;
    text-align: center;
    margin: 20px 20px 0px 20px;
    font-size: 30px;
}
.vidd{
    margin-top: 5px;
    background-image: url('https://media.istockphoto.com/photos/college-university-campus-out-of-focus-background-picture-id872254010?k=20&m=872254010&s=612x612&w=0&h=zPF7JsNkw4P--l49WoNLDi27wcfnZIPJQmMvHiSvL-E=');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.vid{
    border: solid black;
    width:48%;
    box-shadow: 10px 10px 10px 0px black;
    margin:10px;
}
iframe{
    width: 48%;
    margin: 10px;
    border: solid black;
    box-shadow: 10px 10px 10px 0px black;
}
#stat , #award{
    display: none;
}
table ,tr , th, td{
    border: solid white;
    border-collapse: collapse;
}
tr ,th, td{
    background-color: lightgrey;
    padding:5px 10px 5px 10px;
    text-align: center;
    width: auto;
}
@media(max-width:450px)
{
    th ,tr,td{
    font-size: 10px;
    padding: 2px 4px 2px 4px;
    }
}
#stats , #awards{
    cursor: pointer;
    text-decoration: none;
    background-color: lightgray;
    display: block;
    padding: 20px;
    font-size: 25px;
    color: black;
    margin: 5px 20px 5px 20px;
    border: solid grey;

}
.plus{
    float: right;
}
/* #stats:hover + #stat{
    display:block;
}
#awards:hover + #award{
    display: block;
} */
.toggle{
    margin:20px;
    padding: 5px;
}
.toggle-list{
    background-color: lightgrey;
    list-style-type: none;
    font-size: 20px;
    padding:5px;
}
footer{
    background-color:rgb(61, 179, 215);
    padding-bottom: 30px;
}
.box{
    display: flex;
    border-bottom: solid grey;
}
.foot{
    display: inline-block;
    margin-left: 1px;
}
.foot .icon i{
    font-size: 20px;
    margin:5px;
}
.foot .icon{
    height: 30px;
    width: 30px;
}
.foot .iconname{
    font-size: 20px;
    margin-top: 30px;
}
.box2{
    padding: 20px;
}
.box2 i{
    font-size: 30px;
    padding: 10px;
    color: black;
}
center{
    padding-top: 5px;
}
@media(max-width:960px){
    .container{
        display: block;
        border-style: none;
    }
    .contain{
        margin: 0.5%;
    }

}
@media(max-width:1120px)
{
    .vid , iframe{
        width: 100%;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}
.carousel{
    text-align: center;
    height: auto;
    background-color: rgba(205, 199, 199, 0.732);
    padding: 5%;
}
.text{
    text-align: justify;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.carousel-item{
    display: none;
    position: relative;
}
.next , .prev{
    cursor: pointer;
    position: absolute;
    margin: auto; 
    padding: 1%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5rem;
    border-radius: 5px;
}
.next{
    right: 2%;
}
.prev{
    left: 2%;
}
.next:hover , .prev:hover{
    background-color: rgba(0, 0, 0, 0.341);
    color: white;
}
.carousel-item img{
    vertical-align: middle;

}
.control{
    text-align: center;
}
.dot{
    cursor: pointer;
    background-color: rgba(119, 136, 153, 0.601) ;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 1% 0;
}
.active , .dot:hover{
    background-color: lightslategray;
}
